#Ambiente Virtual
venv/
.venv/
__pycache__/
*.pyc

# Caches do Python
__pycache__/
*.pyc

# Arquivos gerados pelo PyInstaller
build/
dist/
*.spec
!main.spec

# Arquivos compactados para Release
*.tar.gz
*.zip


# Ferramentas e estruturas do AppImage
appimagetool-x86_64.AppImage
Gerenciador.AppDir/

# Pacote final gerado
*.AppImage